<button mat-icon-button [matMenuTriggerFor]="menu">
    <img src="assets/menu-rounded.png"  class= "w-12 h-12"alt="">
   
  </button>
  <mat-menu #menu="matMenu">
<p class="px-8 py-16 pt-0 text-3xl bg-red-300">
      <button mat-menu-item>
        <a   routerLink="/home"  title="" >
            HOME
          </a>
      </button>
      <button mat-menu-item>
        <a   routerLink="/home"  title="" >
            HOME
          </a>
      </button>
      <button mat-menu-item>
        <a   routerLink="/home"  title="" >
            HOME
          </a>
      </button>
      <button mat-menu-item>
        <a   routerLink="/home"  title="" >
            HOME
          </a>
      </button>
      <button mat-menu-item>
        <a   routerLink="/home"  title="" >
            HOME
          </a>
      </button>
      <button mat-menu-item>
        <a   routerLink="/home"  title="" >
            HOME
          </a>
      </button>
      <button mat-menu-item>
        <a   routerLink="/home"  title="" >
            HOME
          </a>
      </button>
    </p>