<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 mx-3 text-light" (click)="sideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div>
    <a class=" navbar-brand px-4" href="#"> Header and side nav bar</a>
    <div class="div navbar-collapse">
        <ul class="navbar-nav ma-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"> Menu</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"> Menu</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"> Menu</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                    <li><a class="dropdown-item" href="#">Child1</a></li>
                </ul>
            </li>
        </ul>
    </div>
<form action="" class="d-flex mx-5">
 <input type="search" class="form-control mx-2" placeholder="search">
 <button class="btn btn-outline-light " type="submit">search</button>
</form>
<div class="profile-log dropstart">
    <button class="btn btn-outline-light dropdown-toggle" type="submit"  data-bs-toggle="dropdown">komal</button>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="#">Sign Up</a></li>
        <li><a class="dropdown-item" href="#">Log In</a></li>
        <li><a class="dropdown-item" href="#">Your Profile</a></li>
        <li><a class="dropdown-item" href="#">Log Out</a></li>
    </ul>
</div>
</nav>
