<!-- Resources -->
<div>
    <div class="  bg-slate-400   mx-96 mt-5">
        <p class="text-center mt-4 text-2xl ">Resources</p>
        <p class="text-red-200 mx-72 text-2xl text-center ">Here are some links to help you get started </p>
    </div>


    <div class="url[('./assets/R.jpg')]">
        Building a template-driven form shows you how to create a template-driven form.

        The control elements in the form are bound to data properties that have input validation. The input validation
        helps maintain data integrity and styling to improve the user experience. Template-driven forms use two-way data
        binding to update the data model in the component as changes are made in the template and vice versa.
    </div>
    <div class="row flex justify-center pt-8">
        <img src="assets/R.jpg" alt="" class="w-35 h-52 border mx-9  border-cyan-400">

        <img src="assets/R.jpg" alt="" class="w-35 h-52 border  border-cyan-400">
    </div>
    <div class="text-center p-5">
        <button mat-button color="primary" class=" bg-red-300 w-28 h-15 rounded-xl " (click)="myFunction()" >click me</button>
   
</div>
</div>